.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-left-arrow {
    left: 10px;
}

.custom-right-arrow {
    right: 10px;
}